**Introduction:**

Emily is the shop owner, and she would like to gather data to help her grow the
business. She has hired you as an SQL specialist to get the answers to her
business questions such as How many bikes does the shop own by category?
What was the rental revenue for each month? etc. The answers are hidden in the
database. You just need to figure out how to get them out using SQL.

In [1]:
import os
import sqlite3
import pandas as pd

#create bike_rental database
conn=sqlite3.connect('bike_rental.db')

In [2]:
#checkup if the database has been created
print(os.listdir('.'))

['__notebook__.ipynb', 'bike_rental.db']

In [3]:
#crate cursor object, this will be used for executing SQL Commands in SQLite
cursor=conn.cursor()

In [4]:
# Create a tables with a primary key
#customer table
cursor.execute('''
CREATE TABLE IF NOT EXISTS customer (
id INTEGER PRIMARY KEY,
name VARCHAR(30) NOT NULL,
email VARCHAR(30) NOT NULL
)
''')

#bike table
cursor.execute('''
CREATE TABLE IF NOT EXISTS bike (
id INTEGER PRIMARY KEY,
model VARCHAR(50) NOT NULL,
category VARCHAR(50) NOT NULL,
price_per_hour DECIMAL(10,2),
price_per_day DECIMAL(10,2),
status VARCHAR(20)
)

''')

#rental table
cursor.execute('''
CREATE TABLE IF NOT EXISTS rental (
id INTEGER PRIMARY KEY,
customer_id INTEGER references customer(id),
bike_id INTEGER references bike(id),
start_timestamp timestamp,
duration INTEGER,
total_paid DECIMAL(10,2)

)
''')

#membership_type table
cursor.execute('''
CREATE TABLE IF NOT EXISTS membership_type (
id INTEGER PRIMARY KEY,
name VARCHAR(50) NOT NULL,
description VARCHAR(500),
price DECIMAL(10,2)

)
''')

#membership table
cursor.execute('''
CREATE TABLE IF NOT EXISTS membership (
id INTEGER PRIMARY KEY,
membership_type_id INTEGER references membership_type(id),
customer_id INTEGER references customer(id),
start_date date,
end_date date,
total_paid DECIMAL(10,2)

)
''')

In [5]:
#remember to commit
conn.commit()

In [6]:
#crosscheck if the table created has been exsist 
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
for table in tables:
    print(table[0])

customer
bike
rental
membership_type
membership

In [7]:
# Check the table structure using PRAGMA
cursor.execute("PRAGMA table_info(rental);")
ren = cursor.fetchall()
col = [desc[0] for desc in cursor.description]
df = pd.DataFrame(ren, columns=col)
df

   cid             name           type  notnull dflt_value  pk
0    0               id        INTEGER        0       None   1
1    1      customer_id        INTEGER        0       None   0
2    2          bike_id        INTEGER        0       None   0
3    3  start_timestamp      timestamp        0       None   0
4    4         duration        INTEGER        0       None   0
5    5       total_paid  DECIMAL(10,2)        0       None   0

In [8]:
#uncomment and run the insert script below using SQLite database

"""
cursor.execute(''' INSERT INTO customer (id, name, email) VALUES(2,'Alice Smith','alice.smith@example.com')''')
cursor.execute(''' INSERT INTO customer (id, name, email) VALUES(3,'Bob Johnson','john.doe@example.com')''')
cursor.execute(''' INSERT INTO customer (id, name, email) VALUES(4,'Eva Brown','eva.brown@example.com')''')
cursor.execute(''' INSERT INTO customer (id, name, email) VALUES(5,'Michael Lee','michael.lee@example.com')''')
cursor.execute(''' INSERT INTO customer (id, name, email) VALUES(6,'Sarah White','sarah.white@example.com')''')
cursor.execute(''' INSERT INTO customer (id, name, email) VALUES(7,'David Wilson','david.wilson@example.com')''')
cursor.execute(''' INSERT INTO customer (id, name, email) VALUES(8,'Emily Davis','emily.davis@example.com')''')
cursor.execute(''' INSERT INTO customer (id, name, email) VALUES(9,'Daniel Miller','daniel.miller@example.com')''')
cursor.execute(''' INSERT INTO customer (id, name, email) VALUES(10,'Olivia Taylor','olivia.taylor@example.com')''')





cursor.execute(''' INSERT INTO bike (id, model, category, price_per_hour, price_per_day, status) values(1,	'Mountain Bike 1'	,'mountain bike'	,10.00	,50.00	,'available')''')
cursor.execute(''' INSERT INTO bike (id, model, category, price_per_hour, price_per_day, status) values(2,	'Road Bike 1'	,'road bike',12.00	,60.00	,'available')''')
cursor.execute(''' INSERT INTO bike (id, model, category, price_per_hour, price_per_day, status) values(3,	'Hybrid Bike 1'	,'hybrid'	,8.00	,40.00	,'rented')''')
cursor.execute(''' INSERT INTO bike (id, model, category, price_per_hour, price_per_day, status) values(4,	'Electric Bike 1'	,'electric',15.00	,75.00	,'available')''')
cursor.execute(''' INSERT INTO bike (id, model, category, price_per_hour, price_per_day, status) values(5,	'Mountain Bike 2'	,'mountain bike'	,10.00	,50.00	,'out of service')''')
cursor.execute(''' INSERT INTO bike (id, model, category, price_per_hour, price_per_day, status) values(6,	'Road Bike 2'	,'road bike',12.00	,60.00	,'available')''')
cursor.execute(''' INSERT INTO bike (id, model, category, price_per_hour, price_per_day, status) values(7,	'Hybrid Bike 2'	,'hybrid'	,8.00	,40.00	,'out of service')''')
cursor.execute(''' INSERT INTO bike (id, model, category, price_per_hour, price_per_day, status) values(8,	'Electric Bike 2'	,'electric',15.00	,75.00	,'available')''')
cursor.execute(''' INSERT INTO bike (id, model, category, price_per_hour, price_per_day, status) values(9,	'Mountain Bike 3'	,'mountain bike'	,10.00	,50.00	,'rented')''')
cursor.execute(''' INSERT INTO bike (id, model, category, price_per_hour, price_per_day, status) values(10,	'Road Bike 3'	,'road bike',12.00	,60.00	,'available')''')





cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(1,	1,	1,	'2022-11-01 10:00:00',	240,	50.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(2,	1,	1,	'2022-11-02 10:00:00',	245,	50.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(3,	1,	1,	'2022-11-03 10:00:00',	250,	50.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(4,	1,	1,	'2022-11-04 10:00:00',	235,	50.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(5,	1,	1,	'2022-12-05 10:00:00',	155,	50.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(6,	2,	2,	'2022-12-08 11:00:00',	250,	60.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(7,	3,	3,	'2022-12-13 12:00:00',	245,	40.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(8,	1,	1,	'2023-01-05 10:00:00',	240,	50.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(9,	2,	2,	'2023-01-08 11:00:00',	235,	60.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(10,	3,	3,	'2023-02-13 12:00:00',	245,	40.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(11,	1,	1,	'2023-03-05 10:00:00',	250,	50.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(12,	2,	2,	'2023-03-08 11:00:00',	355,	60.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(13,	3,	3,	'2023-04-13 12:00:00',	240,	40.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(14,	1,	1,	'2023-04-01 10:00:00',	235,	50.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(15,	1,	6,	'2023-05-01 10:00:00',	245,	60.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(16,	1,	2,	'2023-05-01 10:00:00',	250,	60.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(17,	1,	3,	'2023-06-01 10:00:00',	235,	40.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(18,	1,	4,	'2023-06-01 10:00:00',	255,	75.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(19,	1,	5,	'2023-07-01 10:00:00',	240,	50.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(20,	2,	2,	'2023-07-02 11:00:00',	445,	60.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(21,	3,	3,	'2023-07-03 12:00:00',	250,	40.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(22,	4,	4,	'2023-08-04 13:00:00',	235,	75.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(23,	5,	5,	'2023-08-05 14:00:00',	555,	50.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(24,	6,	6,	'2023-09-06 15:00:00',	240,	60.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(25,	7,	7,	'2023-09-07 16:00:00',	245,	40.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(26,	8,	8,	'2023-09-08 17:00:00',	250,	75.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(27,	9,	9,	'2023-10-09 18:00:00',	335,	50.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(28,	10,	10,	'2023-10-10 19:00:00',	255,	60.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(29,	10,	1,	'2023-10-10 19:00:00',	240,	50.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(30,	10,	2,	'2023-10-10 19:00:00',	245,	60.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(31,	10,	3,	'2023-10-10 19:00:00',	250,	40.00)''')
cursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(32,	10,	4,	'2023-10-10 19:00:00',	235,	75.00)''')



cursor.execute(''' INSERT INTO membership_type (id, name, description, price)  values(1,'Basic Monthly',	'Unlimited rides with non-electric bikes. Renews monthly.',	100.00)''')
cursor.execute(''' INSERT INTO membership_type (id, name, description, price)  values(2,'Basic Annual',	'Unlimited rides with non-electric bikes. Renews annually.',500.00)''')
cursor.execute(''' INSERT INTO membership_type (id, name, description, price)  values(3,'Premium Monthly',	'Unlimited rides with all bikes. Renews monthly.',	200.00)''')

cursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(1,	2,	3,	'2023-08-01',	'2023-08-31',	500.00)''')
cursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(2,	1,	2,	'2023-08-01',	'2023-08-31',	100.00)''')
cursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(3,	3,	4,	'2023-08-01',	'2023-08-31',	200.00)''')
cursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(4,	1,	1,	'2023-09-01',	'2023-09-30',	100.00)''')
cursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(5,	2,	2,	'2023-09-01',	'2023-09-30',	500.00)''')
cursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(6,	3,	3,	'2023-09-01',	'2023-09-30',	200.00)''')
cursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(7,	1,	4,	'2023-10-01',	'2023-10-31',	100.00)''')
cursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(8,	2,	5,	'2023-10-01',	'2023-10-31',	500.00)''')
cursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(9,	3,	3,	'2023-10-01',	'2023-10-31',	200.00)''')
cursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(10,	3,	1,	'2023-11-01',	'2023-11-30',	200.00)''')
cursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(11,	2,	5,	'2023-11-01',	'2023-11-30',	500.00)''')
cursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(12,	1,	2,	'2023-11-01',	'2023-11-30',	100.00)''')

"""

"\ncursor.execute(''' INSERT INTO customer (id, name, email) VALUES(2,'Alice Smith','alice.smith@example.com')''')\ncursor.execute(''' INSERT INTO customer (id, name, email) VALUES(3,'Bob Johnson','john.doe@example.com')''')\ncursor.execute(''' INSERT INTO customer (id, name, email) VALUES(4,'Eva Brown','eva.brown@example.com')''')\ncursor.execute(''' INSERT INTO customer (id, name, email) VALUES(5,'Michael Lee','michael.lee@example.com')''')\ncursor.execute(''' INSERT INTO customer (id, name, email) VALUES(6,'Sarah White','sarah.white@example.com')''')\ncursor.execute(''' INSERT INTO customer (id, name, email) VALUES(7,'David Wilson','david.wilson@example.com')''')\ncursor.execute(''' INSERT INTO customer (id, name, email) VALUES(8,'Emily Davis','emily.davis@example.com')''')\ncursor.execute(''' INSERT INTO customer (id, name, email) VALUES(9,'Daniel Miller','daniel.miller@example.com')''')\ncursor.execute(''' INSERT INTO customer (id, name, email) VALUES(10,'Olivia Taylor','olivia.taylor@example.com')''')\n\n\n\n\n\ncursor.execute(''' INSERT INTO bike (id, model, category, price_per_hour, price_per_day, status) values(1,\t'Mountain Bike 1'\t,'mountain bike'\t,10.00\t,50.00\t,'available')''')\ncursor.execute(''' INSERT INTO bike (id, model, category, price_per_hour, price_per_day, status) values(2,\t'Road Bike 1'\t,'road bike',12.00\t,60.00\t,'available')''')\ncursor.execute(''' INSERT INTO bike (id, model, category, price_per_hour, price_per_day, status) values(3,\t'Hybrid Bike 1'\t,'hybrid'\t,8.00\t,40.00\t,'rented')''')\ncursor.execute(''' INSERT INTO bike (id, model, category, price_per_hour, price_per_day, status) values(4,\t'Electric Bike 1'\t,'electric',15.00\t,75.00\t,'available')''')\ncursor.execute(''' INSERT INTO bike (id, model, category, price_per_hour, price_per_day, status) values(5,\t'Mountain Bike 2'\t,'mountain bike'\t,10.00\t,50.00\t,'out of service')''')\ncursor.execute(''' INSERT INTO bike (id, model, category, price_per_hour, price_per_day, status) values(6,\t'Road Bike 2'\t,'road bike',12.00\t,60.00\t,'available')''')\ncursor.execute(''' INSERT INTO bike (id, model, category, price_per_hour, price_per_day, status) values(7,\t'Hybrid Bike 2'\t,'hybrid'\t,8.00\t,40.00\t,'out of service')''')\ncursor.execute(''' INSERT INTO bike (id, model, category, price_per_hour, price_per_day, status) values(8,\t'Electric Bike 2'\t,'electric',15.00\t,75.00\t,'available')''')\ncursor.execute(''' INSERT INTO bike (id, model, category, price_per_hour, price_per_day, status) values(9,\t'Mountain Bike 3'\t,'mountain bike'\t,10.00\t,50.00\t,'rented')''')\ncursor.execute(''' INSERT INTO bike (id, model, category, price_per_hour, price_per_day, status) values(10,\t'Road Bike 3'\t,'road bike',12.00\t,60.00\t,'available')''')\n\n\n\n\n\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(1,\t1,\t1,\t'2022-11-01 10:00:00',\t240,\t50.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(2,\t1,\t1,\t'2022-11-02 10:00:00',\t245,\t50.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(3,\t1,\t1,\t'2022-11-03 10:00:00',\t250,\t50.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(4,\t1,\t1,\t'2022-11-04 10:00:00',\t235,\t50.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(5,\t1,\t1,\t'2022-12-05 10:00:00',\t155,\t50.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(6,\t2,\t2,\t'2022-12-08 11:00:00',\t250,\t60.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(7,\t3,\t3,\t'2022-12-13 12:00:00',\t245,\t40.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(8,\t1,\t1,\t'2023-01-05 10:00:00',\t240,\t50.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(9,\t2,\t2,\t'2023-01-08 11:00:00',\t235,\t60.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(10,\t3,\t3,\t'2023-02-13 12:00:00',\t245,\t40.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(11,\t1,\t1,\t'2023-03-05 10:00:00',\t250,\t50.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(12,\t2,\t2,\t'2023-03-08 11:00:00',\t355,\t60.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(13,\t3,\t3,\t'2023-04-13 12:00:00',\t240,\t40.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(14,\t1,\t1,\t'2023-04-01 10:00:00',\t235,\t50.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(15,\t1,\t6,\t'2023-05-01 10:00:00',\t245,\t60.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(16,\t1,\t2,\t'2023-05-01 10:00:00',\t250,\t60.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(17,\t1,\t3,\t'2023-06-01 10:00:00',\t235,\t40.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(18,\t1,\t4,\t'2023-06-01 10:00:00',\t255,\t75.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(19,\t1,\t5,\t'2023-07-01 10:00:00',\t240,\t50.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(20,\t2,\t2,\t'2023-07-02 11:00:00',\t445,\t60.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(21,\t3,\t3,\t'2023-07-03 12:00:00',\t250,\t40.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(22,\t4,\t4,\t'2023-08-04 13:00:00',\t235,\t75.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(23,\t5,\t5,\t'2023-08-05 14:00:00',\t555,\t50.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(24,\t6,\t6,\t'2023-09-06 15:00:00',\t240,\t60.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(25,\t7,\t7,\t'2023-09-07 16:00:00',\t245,\t40.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(26,\t8,\t8,\t'2023-09-08 17:00:00',\t250,\t75.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(27,\t9,\t9,\t'2023-10-09 18:00:00',\t335,\t50.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(28,\t10,\t10,\t'2023-10-10 19:00:00',\t255,\t60.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(29,\t10,\t1,\t'2023-10-10 19:00:00',\t240,\t50.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(30,\t10,\t2,\t'2023-10-10 19:00:00',\t245,\t60.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(31,\t10,\t3,\t'2023-10-10 19:00:00',\t250,\t40.00)''')\ncursor.execute(''' INSERT INTO rental (id, customer_id, bike_id, start_timestamp, duration, total_paid)  VALUES(32,\t10,\t4,\t'2023-10-10 19:00:00',\t235,\t75.00)''')\n\n\n\ncursor.execute(''' INSERT INTO membership_type (id, name, description, price)  values(1,'Basic Monthly',\t'Unlimited rides with non-electric bikes. Renews monthly.',\t100.00)''')\ncursor.execute(''' INSERT INTO membership_type (id, name, description, price)  values(2,'Basic Annual',\t'Unlimited rides with non-electric bikes. Renews annually.',500.00)''')\ncursor.execute(''' INSERT INTO membership_type (id, name, description, price)  values(3,'Premium Monthly',\t'Unlimited rides with all bikes. Renews monthly.',\t200.00)''')\n\ncursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(1,\t2,\t3,\t'2023-08-01',\t'2023-08-31',\t500.00)''')\ncursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(2,\t1,\t2,\t'2023-08-01',\t'2023-08-31',\t100.00)''')\ncursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(3,\t3,\t4,\t'2023-08-01',\t'2023-08-31',\t200.00)''')\ncursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(4,\t1,\t1,\t'2023-09-01',\t'2023-09-30',\t100.00)''')\ncursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(5,\t2,\t2,\t'2023-09-01',\t'2023-09-30',\t500.00)''')\ncursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(6,\t3,\t3,\t'2023-09-01',\t'2023-09-30',\t200.00)''')\ncursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(7,\t1,\t4,\t'2023-10-01',\t'2023-10-31',\t100.00)''')\ncursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(8,\t2,\t5,\t'2023-10-01',\t'2023-10-31',\t500.00)''')\ncursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(9,\t3,\t3,\t'2023-10-01',\t'2023-10-31',\t200.00)''')\ncursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(10,\t3,\t1,\t'2023-11-01',\t'2023-11-30',\t200.00)''')\ncursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(11,\t2,\t5,\t'2023-11-01',\t'2023-11-30',\t500.00)''')\ncursor.execute(''' INSERT INTO membership (id, membership_type_id, customer_id, start_date,end_date,total_paid) values(12,\t1,\t2,\t'2023-11-01',\t'2023-11-30',\t100.00)''')\n\n"

In [9]:
#insert once then commit, NOTE: SQLite is clearing table and records once the connection closed
conn.commit()

In [10]:
# Execute the query and fetch the data
cursor.execute("SELECT * FROM rental;")
mer = cursor.fetchall()
# Get the column headers
col_names = [desc[0] for desc in cursor.description]
# Create a DataFrame from the fetched data
df = pd.DataFrame(mer, columns=col_names)
df

Empty DataFrame
Columns: [id, customer_id, bike_id, start_timestamp, duration, total_paid]
Index: []

1.Emily would like to know how many bikes the shop owns by category. Can
you get this for her? 
Display the category name and the number of bikes the shop owns in
each category (call this column number_of_bikes ). Show only the categories
where the number of bikes is greater than 2 .

In [11]:
#1.How many bikes the shop owns by category where the number of bike is greater than 2

cursor.execute( """
        SELECT 
            category, 
            count(1) as number_of_bikes 
        FROM 
            bike
        GROUP BY
           category having count(1) > 2;""")
mer = cursor.fetchall()
# Fetch column names
column_names = [desc[0] for desc in cursor.description]
# Print using panda dataframe
df=pd.DataFrame(mer, columns=column_names)
df

Empty DataFrame
Columns: [category, number_of_bikes]
Index: []

2.Emily needs a list of customer names with the total number of
memberships purchased by each.
For each customer, display the customer's name and the count of
memberships purchased (call this column membership_count ). Sort the
results by membership_count , starting with the customer who has purchased
the highest number of memberships.
Keep in mind that some customers may not have purchased any
memberships yet. In such a situation, display 0 for the membership_count .

In [12]:
#2 customer names with the total number of memberships purchased by each.


cursor.execute("""
        SELECT 
             c.name, 
             count(m.id) as membership_count 
        FROM
             membership m
        RIGHT JOIN
             customer c on c.id=m.customer_id
        GROUP BY
             c.name
        ORDER BY
             count(1) desc;""")
mer=cursor.fetchall()
col=[desc[0] for desc in cursor.description]
#print using dataframe
df=pd.DataFrame(mer, columns=col)
df

Empty DataFrame
Columns: [name, membership_count]
Index: []

3.Emily is working on a special offer for the winter months. Can you help her
prepare a list of new rental prices?
For each bike, display its ID, category, old price per hour (call this column 
old_price_per_hour ), discounted price per hour (call it new_price_per_hour ), old
price per day (call it old_price_per_day ), and discounted price per day (call it
new_price_per_day ).
Electric bikes should have a 10% discount for hourly rentals and a 20%
discount for daily rentals. Mountain bikes should have a 20% discount for
hourly rentals and a 50% discount for daily rentals. All other bikes should
have a 50% discount for all types of rentals.
Round the new prices to 2 decimal digits.

In [13]:
cursor.execute("""
    SELECT 
       id, 
       category, 
       price_per_hour as old_price_per_hour,
       case when category = 'electric' then round(price_per_hour - (price_per_hour*0.1) ,2)
	   when category = 'mountain bike' then round(price_per_hour - (price_per_hour*0.2) ,2)
       else round(price_per_hour - (price_per_hour*0.5) ,2)
       end as new_price_per_hour,
       price_per_day as old_price_per_day, 
       case when category = 'electric' then round(price_per_day - (price_per_day*0.2) ,2)
	   when category = 'mountain bike' then round(price_per_day - (price_per_day*0.5) ,2)
       else round(price_per_day - (price_per_day*0.5) ,2)
       end as new_price_per_day
   FROM bike;
              """)

vine=cursor.fetchall()
col=[desc[0] for desc in cursor.description]
#print using data frame
df=pd.DataFrame(vine, columns=col)
df

Empty DataFrame
Columns: [id, category, old_price_per_hour, new_price_per_hour, old_price_per_day, new_price_per_day]
Index: []

Emily is looking for counts of the rented bikes and of the available bikes in
each category.
Display the number of available bikes (call this column 
available_bikes_count ) and the number of rented bikes (call this column 
rented_bikes_count ) by bike category.

In [14]:
cursor.execute("""
        SELECT
              category,
              count(case when status ='available' then 1 end) as available_bikes_count, 
              count(case when status ='rented' then 1 end) as rented_bikes_count
        FROM
              bike
        GROUP BY
              category;

""")
diva=cursor.fetchall()
col=[desc[0] for desc in cursor.description]
#print using dataframe in pandas
df=pd.DataFrame(diva, columns=col)
df

Empty DataFrame
Columns: [category, available_bikes_count, rented_bikes_count]
Index: []

5.Emily is preparing a sales report. She needs to know the total revenue
from rentals by month, the total by year, and the all-time across all the
years. 

Display the total revenue from rentals for each month, the total for each
year, and the total across all the years. Do not take memberships into
account. There should be 3 columns: year , month , and revenue .
Sort the results chronologically. Display the year total after all the month
totals for the corresponding year. Show the all-time total as the last row.

In [15]:
cursor.execute("""
    SELECT 
        strftime('%Y', start_timestamp) AS year,
        strftime('%m', start_timestamp) AS month,
        SUM(total_paid) AS revenue
    FROM 
        rental
    GROUP BY 
        strftime('%Y', start_timestamp), 
        strftime('%m', start_timestamp)

    UNION ALL

    SELECT 
        strftime('%Y', start_timestamp) AS year,
        NULL AS month, 
        SUM(total_paid) AS revenue
    FROM 
        rental
    GROUP BY 
        strftime('%Y', start_timestamp)

    UNION ALL

    SELECT 
        NULL AS year, 
        NULL AS month, 
        SUM(total_paid) AS revenue
    FROM 
        rental
    ORDER BY 
        year, month;
""")

# Fetch the data and retrieve the column headers
divine = cursor.fetchall()
col = [desc[0] for desc in cursor.description]

# Create and display the DataFrame
dal = pd.DataFrame(divine, columns=col)
dal

   year month revenue
0  None  None    None

6.Emily has asked you to get the total revenue from memberships for each combination of year, month, and membership type.
Display the year, the month, the name of the membership type (call this column membership_type_name ), and the total revenue (call this column
total_revenue ) for every combination of year, month, and membership type. Sort the results by year, month, and name of membership type.

In [16]:
cursor.execute("""
      SELECT
          strftime('%Y',start_date) AS Year,
          strftime('%m',start_date) AS Month,
          m.name AS membership_type_name,
          sum(total_paid) AS total_revenue
      FROM 
          membership d
      JOIN
          membership_type m ON d.membership_type_id=m.id
      GROUP BY
          Year,Month,m.name
      ORDER BY
          Year,Month,m.name
          
""")

mt=cursor.fetchall()
col=[desc[0] for desc in cursor.description]
df=pd.DataFrame(mt, columns=col)
df

Empty DataFrame
Columns: [Year, Month, membership_type_name, total_revenue]
Index: []

7. Next, Emily would like data about memberships purchased in 2023, with subtotals and grand totals for all the different combinations of membership types and months.
Display the total revenue from memberships purchased in 2023 for each combination of month and membership type. Generate subtotals and grand totals for all possible combinations. There should be 3 columns:
membership_type_name , month , and total_revenue .
Sort the results by membership type name alphabetically and then
chronologically by month.

In [17]:
cursor.execute("""
    SELECT
        m.name AS membership_type_name,
        strftime('%m', start_date) AS month,
        SUM(total_paid) AS total_revenue
    FROM 
        membership d
    JOIN
        membership_type m ON d.membership_type_id = m.id
    WHERE 
        strftime('%Y', start_date) = '2023'
    GROUP BY
        m.name, strftime('%m', start_date)
    ORDER BY 
        membership_type_name, month;
""")

# Fetch the data and retrieve the column headers
mt = cursor.fetchall()
col = [desc[0] for desc in cursor.description]

# Create and display the DataFrame
df = pd.DataFrame(mt, columns=col)
df

Empty DataFrame
Columns: [membership_type_name, month, total_revenue]
Index: []

8. Now it's time for the final task.
Emily wants to segment customers based on the number of rentals and see the count of customers in each segment. Use your SQL skills to get this!
Categorize customers based on their rental history as follows:
Customers who have had more than 10 rentals are categorized as 'more
than 10' .
Customers who have had 5 to 10 rentals (inclusive) are categorized as
'between 5 and 10' .
Customers who have had fewer than 5 rentals should be categorized as
'fewer than 5' .
Calculate the number of customers in each category. Display two columns: rental_count_category (the rental count category) and customer_count (the
number of customers in each category).

In [18]:
cursor.execute("""
    WITH tonge AS (
        SELECT 
            customer_id, 
            COUNT(1) AS rental_count,
            CASE 
                WHEN COUNT(1) > 10 THEN 'more than 10'
                WHEN COUNT(1) BETWEEN 5 AND 10 THEN 'between 5 and 10'
                ELSE 'fewer than 5'
            END AS category
        FROM 
            rental
        GROUP BY 
            customer_id
    )
    SELECT 
        category AS rental_count_category,
        COUNT(*) AS customer_count
    FROM 
        tonge 
    GROUP BY 
        category
    ORDER BY 
        customer_count;
""")

# Fetch the data and retrieve the column headers
cus = cursor.fetchall()
col = [desc[0] for desc in cursor.description]

# Create and display the DataFrame
df = pd.DataFrame(cus, columns=col)
df

Empty DataFrame
Columns: [rental_count_category, customer_count]
Index: []

In [19]:
# Close the cursor and connection
#cursor.close()
#conn.close()